.LoginBotao {
  position: absolute;
  width: 80px; 
  height: 30px;
  top: 350px;
  left: 550px;
}
.CadastroButton {
    position: absolute;
    width: 80px;
    height: 30px;
    top: 350px;
    left: 750px;
}