:root {
  --fundo:  #f6f3de;
  --Destaquevermelho:  #d91d1d;
  --caixas: #dcd6ac;
  --texto: #010101;
}
.Entrada {
    width: 220px;
    height: 295px;
    background-color: var(--fundo);
    position: absolute;
    top: 365px;
    left: 16px;
    border: 2.5px
    solid var(--caixas);
}
.EntradaTituloCaixa {
  background-color: var(--caixas);
  width: 220px;
  height: 30px;
}
.EntradaTitulo {
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-align: left;
  color: var(--fundo);
  position: absolute;
  top: -16px;
  left: 70px;
}
.EntradasInPutsDiv {
  position: absolute;
  top: 30px;
  left: 149px;
  border: 0px
  solid var(--caixas);
}
.EntradasInput {
  border: 2px
  solid var(--caixas);
  background-color: var(--fundo);
  display: block;
  width: 65px;
  height: 10.8px;
}
.InputCategoriaEntradaDiv {
  position: absolute;
  top: 30px;
  left: -2px;
}
.EntradaInputCategoria{
  border: 2px
  solid var(--caixas);
  background-color: var(--fundo);
  display: block;
  width: 145px;
  height: 10.8px;
}
.Seilaoque {
  position: absolute;
  top: 200px;
  left: 290px;
}