:root {
  --fundo:  #f6f3de;
  --Destaquevermelho:  #d91d1d;
  --caixas: #dcd6ac;
  --texto: #010101;
}
.TotalEntrada {
  position: absolute;
  top: 1px;
  left: 245px;
  border:2.5px 
  solid var(--caixas); 
  background-color: var(--caixas);
  padding:10px; 
  width:200px; 
  margin:1px;
  height: 50px;
}
.TextodeEntrada {
  font-size: 14px;
  font-family: Arial, sans-serif;
  text-align: left;
  margin-top: -5px;
  margin-left: 40px;
}
.InputEntradaTotal {
  width: 216px;
  height: 20px;
  background-color: var(--fundo);
  border: 2.5px
  solid var(--caixas);
  position: relative;
  left: -12px;
  top: -10px;
}
.MesAnteriorEntrada {
  font-size: 14px;
  font-family: Arial, sans-serif;
  text-align: left;
  margin-top: -8px;
  margin-left: 10px;
}